<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1450263276374 vc_row-has-fill"
     style="position: relative; left: -76px; box-sizing: border-box; width: 1752px; padding-left: 76px; padding-right: 76px;">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">

        <!-- begin book_search -->

        <section class="book_search wow no  animated" style="visibility: visible;">
          <div class="container">
            <h2 class="section_title">NEED TO FIND PARTICULAR PRODUCTS?</h2>
            <form action="http://tokokoodemo.us/papirus/books/" method="get" role="search">
              <input type="text" name="s" placeholder="Find Products">
              <select name="product_cat" id="product_cat" class="postform">
                <option value="0" selected="selected">All Categories</option>
                <option class="level-0" value="programming">Programming</option>
                <option class="level-0" value="javascript">Javascript</option>
                <option class="level-0" value="web-application">Web Application</option>
                <option class="level-0" value="html5">HTML5</option>
                <option class="level-0" value="seo">SEO</option>
                <option class="level-0" value="web-design">Web Design</option>
              </select>

              <select name="authors" id="authors" class="postform">
                <option value="0" selected="selected">All Authors</option>
                <option class="level-0" value="thoriq-firdaus">Thoriq Firdaus</option>
                <option class="level-0" value="tim-kadlec">Tim Kadlec</option>
                <option class="level-0" value="steve-krug">Steve Krug</option>
                <option class="level-0" value="susan-weinschenk">Susan Weinschenk</option>
                <option class="level-0" value="austin-kleon">Austin Kleon</option>
                <option class="level-0" value="ellen-lupton">Ellen Lupton</option>
                <option class="level-0" value="patrick-mcneil">Patrick McNeil</option>
                <option class="level-0" value="brian-miller">Brian Miller</option>
                <option class="level-0" value="kyle-simpson">Kyle Simpson</option>
                <option class="level-0" value="nicholas-c-zakas">Nicholas C. Zakas</option>
              </select>

              <input type="submit" class="button" value="Search">
              <input type="hidden" name="post_type" value="product">
            </form>
          </div>
        </section>


        <!-- begin book_search -->

      </div>
    </div>
  </div>
</div>
