<div id="woocommercemyaccountwidget-2" class="widget WooCommerceMyAccountWidget">
  <div class="widget_content">
    <div class="logout"><h2 class="widget-title">Customer Login</h2>
      <form name="wma_login_form" id="wma_login_form" action="http://tokokoodemo.us/papirus/books/wp-login.php"
            method="post">

        <p class="login-username">
          <label for="user_login">Username</label>
          <input type="text" name="log" id="user_login" class="input" value="" size="20">
        </p>
        <p class="login-password">
          <label for="user_pass">Password</label>
          <input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
        </p>


        <p class="login-submit">
          <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary" value="Log In">
          <input type="hidden" name="redirect_to" value="http://tokokoodemo.us/papirus/books/contact/">
        </p>

      </form>
      <a class="woo-ma-link woo-ma-lost-pass"
         href="http://tokokoodemo.us/papirus/books/my-account/lost-password/">Lost password?</a></div>
  </div>
</div>
