<section id="sponsors" data-scroll-index="5" class="content-block sponsors">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Информационные партнеры и спонсоры</h2>

    <p class="top-text" i18n>Конференция — это не только доклады, но и стенды партнёров, где можно пообщаться с
      представителями крупных компаний, поучаствовать в конкурсах и розыгрышах, послушать мини-доклады.</p>

    <div class="row logos">
      <div class="col-md-6 col-lg-4">
        <a href="http://www.abbvie.ru" target="_blank"><img alt="" src="./assets/img/abbvie.svg"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://www.fresenius-kabi.com/ru/" target="_blank"><img alt="" src="./assets/img/fresenius-kabi.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://www.astellas.com/" target="_blank"><img alt="" src="./assets/img/astellas.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="http://www.chiesi.ru/" target="_blank"><img alt="" src="./assets/img/chiesi.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="http://www.msd.com/" target="_blank"><img alt="" src="./assets/img/msd.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://vrachivmeste.ru/" target="_blank"><img alt="" src="./assets/img/vrachi-vmeste.png"></a>
      </div>
    </div>

    <a href="" class="btn btn-primary btn-large" i18n>Стать спонсором</a>
  </div>
</section>
