<app-news-carousel></app-news-carousel>
<app-latest-post></app-latest-post>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
           *ngFor="let article of news$ | async; let i = index"
           [ngClass]="[(i<2) ? 'col-md-12' : 'col-md-6',  (i==0) ? 'col-lg-8' : 'col-lg-4']">
        <div class="post post-presentation post-square lazy  background"
             [ngClass]="[(i==0)? 'first-post': (i==1)? 'second-post':'post-square']"
             [ngStyle]="{ 'background-image': 'url(' + article.articleBackgroundImageLink + ')'}">
          <div class="gradient gradient2" [ngClass]="[(i!=1) ? 'd-flex align-items-center' : '']" >
            <div *ngIf="i!=1; then thenTemplate else elseTemplate"></div>

            <ng-template #thenTemplate>
              <div class="float-top">
                <div href="#" class="share-icons d-none d-sm-block">
                  <div class="icon-container">
                    <i class="fa fa-share"></i>
                    <div class="icons">
                      <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/managing-users/"
                         onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i
                        class="fab fa-facebook-f"></i></a>
                      <a
                        href="https://twitter.com/share?text=Managing%20Ghost%20users&amp;url=http://157.230.217.118:3001/managing-users/"
                        onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i
                        class="fab fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-info">
                <div *ngIf="i>2" class="separator"></div>
                <h2 *ngIf="i==0"><a href="http://157.230.217.118:3001/{{article.articleLink}}/">{{article.headline}}</a></h2>
                <h3 *ngIf="i>1"><a href="http://157.230.217.118:3001/{{article.articleLink}}/">{{article.headline}}</a></h3>
                <div class="post-tags">
                  <a href="http://157.230.217.118:3001/tag/getting-started/">{{getCategoryById(article.categoryId).title}}</a>
                </div>
                <div *ngIf="i==0" class="separator"></div>
                <div *ngIf="i==0; then templateName">
                  Here is never showing
                </div>
                <ng-template #templateName>
                  <p class="d-none d-sm-block">Thor is a prominently mentioned god throughout the recorded history of the
                    Germanic peoples, from the Roman occupation of regions of Germania, to the tribal expansions of the
                    Migration Period...</p>
                  <a href="http://157.230.217.118:3001/thor-the-thunder-god/" class="btn btn-no-background">Read Post <i
                    class="fa fa-chevron-right"></i></a>
                </ng-template>
              </div>
            </ng-template>

            <ng-template #elseTemplate>
              <h3><a href="http://157.230.217.118:3001/a-peak-into-scandinavias-origin/">{{article.headline}}</a></h3>
              <div class="post-tags">
                <a href="http://157.230.217.118:3001/tag/history/">{{getCategoryById(article.categoryId).title}}</a>
              </div>
              <div class="share-icons">
                <div class="icon-container">
                  <a href="http://157.230.217.118:3001/author/diego/" class="author-info">
                    <div class="author-image background lazy"
                         style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg&quot;);"></div>
                  </a>
                  <i class="fa fa-share d-none d-sm-block "></i>
                  <div class="icons d-none d-sm-block">
                    <a
                      href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/a-peak-into-scandinavias-origin/"
                      onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i
                      class="fab fa-facebook-f"></i></a>
                    <a
                      href="https://twitter.com/share?text=A%20peek%20into%20Scandinavia%27s%20origin&amp;url=http://157.230.217.118:3001/a-peak-into-scandinavias-origin/"
                      onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i
                      class="fab fa-twitter"></i></a>
                  </div>
                </div>
              </div>
            </ng-template>

            <div class="float-bottom">
              <div *ngIf="i!=1; then thenTemplateName else elseTemplateName"></div>
              <ng-template #thenTemplateName>
              <a href="http://157.230.217.118:3001/author/johndoe/" class="vertical-align author-info">
                <div class="author-image background lazy "
                     data-src="http://157.230.217.118:3001/content/images/2018/09/Jason-Davis-headshot-min.jpg"></div>
                John Doe
              </a>
              </ng-template>
              <ng-template #elseTemplateName>
                <p>The term Scandinavia in local usage covers the three kingdoms of Denmark, Norway, and Sweden. However,
                  in English usage, the term also sometimes refers to the Scandinavian Peninsula...</p>
                <a href="http://157.230.217.118:3001/a-peak-into-scandinavias-origin/" class="btn btn-no-background">Read
                  Post <i class="fa fa-chevron-right"></i></a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pagination></app-pagination>
