<div class="post-info-wrapper post-presentation active lazy background"
     style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/michal-parzuchowski-324218-unsplash-min.jpg&quot;);">
  <div class="gradient gradient1">
    <div class="container d-flex align-items-center">
      <div class="row align-items-center w-100">
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <div class="d-xs-block d-sm-flex align-items-center">
            <div class="author-image-wrapper animated fadeInLeft">
              <div class="author-image background lazy"
                   style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg&quot;);"></div>
            </div>
            <div class="author-info-wrapper">
              <h2 class="animated fadeInDown">Diego Balmaceda</h2>
              <p class="d-block mt-0 animated fadeInUp"><i class="fa fa-map-marker"></i> Managua, Nicaragua</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <p class="author-bio d-block animated fadeInUp">System Engineering student. 19 years old. I love open source projects, coffee, Age of Empires... Did I say coffee already?</p>
        </div>
      </div>
    </div>

    <!-- AUTHOR INFO -->
    <div class="author-wrapper post-presentation container">
      <div class="d-flex justify-content-between align-items-center">
        <p class="author-post-count mt-0 animated fadeIn"><i class="fas fa-pencil-alt"></i> 9 posts</p>
        <div class="share-icons icons-visible animated fadeIn">
          <div class="icon-container">
            <div class="icons"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-latest-post></app-latest-post>
<app-news-list></app-news-list>
<app-pagination></app-pagination>
