<div class="post-info-wrapper post-presentation active lazy background"
     [ngStyle]="{ 'background-image': 'url(' + (author$ | async).backgroundImageURL + ')'}">
  <div class="gradient gradient1">
    <div class="container d-flex align-items-center">
      <div class="row align-items-center w-100">
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <div class="d-xs-block d-sm-flex align-items-center">
            <div class="author-image-wrapper animated fadeInLeft">
              <div class="author-image background lazy"
                   [ngStyle]="{ 'background-image': 'url(' + (author$ | async).photoURL + ')'}"></div>
            </div>
            <div class="author-info-wrapper">
              <h2 class="animated fadeInDown">{{(author$ | async).name}}</h2>
              <p class="d-block mt-0 animated fadeInUp"><i class="fa fa-map-marker"></i>{{(author$ | async).city}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <p class="author-bio d-block animated fadeInUp">{{(author$ | async).additionalInfo}}</p>
        </div>
      </div>
    </div>

    <!-- AUTHOR INFO -->
    <div class="author-wrapper post-presentation container">
      <div class="d-flex justify-content-between align-items-center">
        <p class="author-post-count mt-0 animated fadeIn"><i class="fas fa-pencil-alt"></i> 9 posts</p>
        <div class="share-icons icons-visible animated fadeIn">
          <div class="icon-container">
            <div class="icons"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
