<header id="masthead" role="banner" class="page_header ">
  <div class="top_header">
    <div class="container">
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 194100, г. Санкт-Петербург, ул. Литовская, 2</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i> +7(812)295-06-46</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i> press@gpma.ru</li>
        <!--        ПОЖАЛУЙ, СОЦИАЛЬНЫЕ СЕТИ ТУТ НЕ НУЖНЫ, НО МОЖЕТ БЫТЬ И ОСТАВИТЬ-->
        <li>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-vk"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
