<footer class="footer container">
  <h5>ФГБОУ ВО «Санкт-Петербургский государственный педиатрический медицинский университет»<br>
    Министерства здравоохранения Российской Федерации</h5>
  <div class="footer-info">

    <div class="row footer-info-row">

      <!-- General Info Column -->
      <!--      <div class="col-md-4 col-sm-6 footer-info-block">-->
      <!--        <h6>Gym City Template</h6>-->
      <!--        <p>Easily customizable HTML template for gyms, fitness centers, dance studios, or any other sports related-->
      <!--          clubs.</p>-->
      <!--        <a href="" target="_blank" class="btn btn-default btn-full-width btn-buy">More Awesome Templates</a>-->
      <!--      </div>-->

      <!-- Contacts Column -->
      <div class="col-md-6 col-sm-6 footer-info-block">
        <h6>Контакты</h6>

        <p>194100, г. Санкт-Петербург, ул. Литовская, 2<br>
          +7 (812) 295-06-46 (Приемная ректора)<br>
          +7 (812) 295-40-31 (Главный врач)<br>
          +7 (921) 301-84-32 (Руководитель пресс-службы)<br>
          E-Mail: press@gpma.ru
        </p>

        <ul class="footer-social-links">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
          <li><a href="#" class="fa fa-youtube"></a></li>
        </ul>
      </div>

      <!-- Links Column -->
      <!--      <div class="col-md-2 col-sm-6 footer-info-block">-->
      <!--        <h6>Ссылки</h6>-->
      <!--        <ul class="footer-links">-->
      <!--          <li><a href="index.html">Home</a></li>-->
      <!--          <li><a href="facilities.html">Facilities</a></li>-->
      <!--          <li><a href="team.html">The Team</a></li>-->
      <!--          <li><a href="membership.html">Membership</a></li>-->
      <!--          <li><a href="schedule.html">Schedule</a></li>-->
      <!--          <li><a href="gift-cards.html">Gift Cards</a></li>-->
      <!--          <li><a href="articles.html">Articles</a></li>-->
      <!--        </ul>-->
      <!--      </div>-->

      <!-- Instagram Column -->
      <div class="col-md-6 col-sm-6 footer-info-block">
        <h6>Instagram</h6>

        <div class="row instagram-photos">
          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-01.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-02.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>

          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-03.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-04.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-03.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>
          <div class="col-4">
            <a href="#" class="blink-on-hover">
              <img src="img/instagram-05.jpg" alt="">
              <span class="hover-overlay"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copy">
    <p><i class="fa fa-copyright"></i> Copyright - Umbrella Corporation.</p>
    <p>Made with <span class="love">❤</span> ️by <a target="_blank" href="">Umbrella</a></p>
  </div>
</footer>
