<nav class="navbar navbar-expand-lg navbar-main" id="navbar">
  <div class="container">
    <ul class="social-links">
      <!-- Facebook -->
      <li>
        <a href="https://www.facebook.com/news.gpmu" target="_blank" class="fa fa-facebook" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Мы в Facebook"></a>
      </li>

      <!-- VKontakte -->
      <li>
        <a href="https://vk.com/news.gpmu" target="_blank" class="fa fa-vk" data-toggle="tooltip" data-placement="top"
           i18n-title
           title="Мы в ВКонтакте"></a>
      </li>

      <!-- Instagram -->
      <li>
        <a href="https://www.instagram.com/spbgpmu/" target="_blank" class="fa fa-instagram" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Мы в Instagram"></a>
      </li>

      <!-- Youtube -->
      <li>
        <a href="https://www.youtube.com/channel/UCjPg7vzECT5JKlgYTk5NfXg" target="_blank" class="fa fa-youtube"
           data-toggle="tooltip" data-placement="top" i18n-title
           title="Наш канал в Youtube"></a>
      </li>

      <!-- Email -->
      <li>
        <a href="https://mail.yandex.ru/compose?mailto=press@gpma.ru" target="_blank" class="fa fa-envelope-o" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Напишите нам"></a>
      </li>
    </ul>

    <!-- Navbar toggler. Shown for mobile devices (https://getbootstrap.com/docs/4.0/components/navbar/#toggler) -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="bconfNav"
      aria-controls="bconfNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="bconfNav">
      <i class="fa fa-times close-navbar-mobile" aria-hidden="true" data-toggle="collapse" data-target="#bconfNav"></i>
      <ul class="navbar-nav ml-auto">
        <li><a href="#about" data-scroll-nav="1" class="nav-link" i18n>О конгрессе</a></li>
        <li><a href="#speakers" data-scroll-nav="2" class="nav-link" i18n>Спикеры</a></li>
        <li><a href="#schedule" data-scroll-nav="3" class="nav-link" i18n>Программа</a></li>
        <li><a href="#location" data-scroll-nav="4" class="nav-link" i18n>Место проведения</a></li>
        <li><a href="#sponsors" data-scroll-nav="5" class="nav-link" i18n>Cпонсоры</a></li>
        <li><a href="" target="_blank" class="nav-link" id="buyTicketsLink" i18n>Зарегистрироваться</a></li>
      </ul>
    </div>
  </div>
</nav>

<section data-scroll-index="0" class="home bg-darken">
  <div class="container">
    <h1 data-aos="fade-up" data-aos-delay="100" i18n>Здоровые дети -<br>Будущее страны</h1>
    <p class="top-text" data-aos="fade-up" data-aos-delay="300">
      <span i18n>29 - 31 Мая 2019</span><br>
      <span i18n>Педиатрический университет, Санкт-Петербург</span>
    </p>

    <a href=""
       target="_blank"
       class="btn btn-primary btn-large"
       data-aos="fade-up"
       data-aos-delay="500"
       i18n
    >Зарегистрироваться</a>
  </div>
</section>


<section id="about" data-scroll-index="1" class="content-block about bordered">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Крупнейшая национальная конференция по педиатрии, перинатологии и неонатологии</h2>

    <p class="top-text" i18n>Мероприятие призвано объединить на одной информационно-коммуникационной площадке
      представителей органов государственной власти, образовательных, научных и медицинских организаций России, малого,
      среднего и крупного бизнеса, молодых ученых, ведущих российских и зарубежных экспертов в области медицины,
      фармацевтики и информационных технологий.</p>

    <div class="metrics">
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Конгресс</div>
        <div class="metrics-content">
          <div class="metrics-num">29-31<span i18n> Мая</span></div>
          <div class="metrics-info" i18n>Симпозиумы, клинические разборы и мастер-классы по педиатрии, неонатологии,
            детской хирургии, акушерству и гинекологии, анестезиологии-реаниматологии, экспериментальной хирургии,
            лучевой диагностике и др. специальностям
          </div>
        </div>
      </div>
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Спикеры</div>
        <div class="metrics-content">
          <div class="metrics-num">400+</div>
          <div class="metrics-info" i18n>Докладов академиков РАН, главных внештатных специалистов МЗ РФ, профессоров
            СПбГПМУ,СЗФМИЦ им. В.А. Алмазова, СЗГМУ им. И.И. Мечникова, ПСПбГМУ имени акад.И.П. Павлова, НИИАГ им. Д.О.
            Отта и многих других
          </div>
        </div>
      </div>
    </div>
    <div class="metrics">
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Участники</div>
        <div class="metrics-content">
          <div class="metrics-num">2000+</div>
          <div class="metrics-info" i18n>Потенциальных новых клиентов, партнеров и друзей</div>
        </div>
      </div>
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Bonus</div>
        <div class="metrics-content">
          <div class="metrics-num"><span i18n>Баллы НМО</span></div>
          <div class="metrics-info" i18n>III Национальный конгресс с международным участием «Здоровые дети — будущее
            страны» подан на аккредитацию в системе непрерывного медицинского образования.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speakers" data-scroll-index="2" class="content-block speakers">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Ключевые спикеры</h2>
  </div>

  <div class="owl-carousel owl-theme speakers-carousel">

    <!-- Speaker 1 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-1.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Anna Davis</h6>

        <p i18n>CEO of Lorem Ipsum</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 2 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-2.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Samanta Miller</h6>

        <p i18n>CEO of Yet Another Company</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 3 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-3.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>John Smith</h6>

        <p i18n>CTO at Company Name</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 4 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-1.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Anna Davis</h6>

        <p i18n>CEO of Lorem Ipsum</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 5 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-2.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Samanta Miller</h6>

        <p i18n>CEO of Yet Another Company</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 6 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/speaker-3.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>John Smith</h6>

        <p i18n>CTO at Company Name</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-schedule id="schedule"></app-schedule>

<section id="location" data-scroll-index="4" class="content-block location bg-darken">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Место проведения</h2>

    <p class="top-text" i18n>Национальный конгресс с международным участием «Здоровые дети — будущее страны» пройдет в
      Санкт-Петербурге на базе старейшего в мире вуза, специализирующегося на подготовке врачей-педиатров.</p>

    <div class="map">

      <!-- Address-->
      <div class="map-desc">
        <h6 i18n>Педиатрический<br/>университет</h6>
        <p i18n>ул. Литовская, д.2, Санкт-Петербург</p>
        <a target="_blank"
           href="https://www.google.co.uk/maps/dir//City+Hall,+The+Queen's+Walk,+London+SE1+2AA/@51.5045742,-0.0805452,16.16z/data=!4m16!1m6!3m5!1s0x4876034f7b9ba2a3:0x35091b13ca2939b3!2sCity+Hall!8m2!3d51.5048276!4d-0.0786263!4m8!1m0!1m5!1m1!1s0x4876034f7b9ba2a3:0x35091b13ca2939b3!2m2!1d-0.0786264!2d51.504827!3e2"
           class="btn btn-primary btn-large" i18n>Открыть в Google Maps</a>
      </div>

      <!-- Googole Maps container-->
      <div id="map"></div>
    </div>
  </div>
</section>

<section id="sponsors" data-scroll-index="5" class="content-block sponsors">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Информационные партнеры и спонсоры</h2>

    <p class="top-text" i18n>Конференция — это не только доклады, но и стенды партнёров, где можно пообщаться с
      представителями крупных компаний, поучаствовать в конкурсах и розыгрышах, послушать мини-доклады.</p>

    <div class="row logos">
      <div class="col-md-6 col-lg-4">
        <a href="http://www.abbvie.ru" target="_blank"><img alt="" src="./assets/img/abbvie.svg"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://www.fresenius-kabi.com/ru/" target="_blank"><img alt="" src="./assets/img/fresenius-kabi.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://www.astellas.com/" target="_blank"><img alt="" src="./assets/img/astellas.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="http://www.chiesi.ru/" target="_blank"><img alt="" src="./assets/img/chiesi.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="http://www.msd.com/" target="_blank"><img alt="" src="./assets/img/msd.png"></a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="https://vrachivmeste.ru/" target="_blank"><img alt="" src="./assets/img/vrachi-vmeste.png"></a>
      </div>
    </div>

    <a href="" class="btn btn-primary btn-large" i18n>Стать спонсором</a>
  </div>
</section>

<section class="content-block newsletter bg-darken">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Боитесь пропустить?</h2>
    <p class="top-text" i18n>Подпишитесь на нашу рассылку и будьте в курсе последних новостей</p>

    <div class="input-group subscribe-input">
      <input type="text" class="form-control" i18n-placeholder placeholder="Ваш Е-mail"/>
      <a href="" class="btn btn-primary" i18n>Подписаться</a>
    </div>
  </div>
</section>
