<section id="location" data-scroll-index="4" class="content-block location bg-darken">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Место проведения</h2>

    <p class="top-text" i18n>Национальный конгресс с международным участием «Здоровые дети — будущее страны» пройдет в
      Санкт-Петербурге на базе старейшего в мире вуза, специализирующегося на подготовке врачей-педиатров.</p>

    <div class="map">

      <!-- Address-->
      <div class="map-desc">
        <h6 i18n>Педиатрический<br/>университет</h6>
        <p i18n>ул. Литовская, д.2, Санкт-Петербург</p>
        <a target="_blank"
           href="https://www.google.co.uk/maps/dir//City+Hall,+The+Queen's+Walk,+London+SE1+2AA/@51.5045742,-0.0805452,16.16z/data=!4m16!1m6!3m5!1s0x4876034f7b9ba2a3:0x35091b13ca2939b3!2sCity+Hall!8m2!3d51.5048276!4d-0.0786263!4m8!1m0!1m5!1m1!1s0x4876034f7b9ba2a3:0x35091b13ca2939b3!2m2!1d-0.0786264!2d51.504827!3e2"
           class="btn btn-primary btn-large" i18n>Открыть в Google Maps</a>
      </div>

      <!-- Googole Maps container-->
      <div id="map"></div>
    </div>
  </div>
</section>
