<header id="masthead" role="banner" class="page_header ">
  <div class="bottom_header">
    <div class="container">
      <a class="mobile_nav_trigger pull-left"><i class="fa fa-bars"></i></a>
      <div class="logo">
        <div class="branding">
          <h1 id="site-title"><a href="" title="Книжная лавка" rel="home">Книжная лавка</a></h1>
          <p id="site-description" class="pull-right">Педиатрички</p></div>
      </div>

      <nav class="primary_menu pull-left">
        <ul class="menu">
          <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/books">Главная</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/shop" [queryParams]="{category:'books'}">Книги</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/shop" [queryParams]="{category:'journal'}">Журналы</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/shop" [queryParams]="{category:'sale'}">Sale</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/delivery">Оплата и доставка</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/contact">Контакты</a></li>
          <li class="menu-item" routerLinkActive="active"><a routerLink="/books/faq">Faq</a></li>
        </ul>
      </nav>
      <div class="right_section">
        <ul>
          <li class="search_button">
            <a href="" class="search_button_trigger">
              <i class="fa fa-search"></i>
            </a>

            <div class="search_bar">
              <form method="get" action="" role="search">
                <input type="text" class="field txt" name="s" id="top_s" placeholder="Type a keywords and hit Enter …">
              </form>
            </div>
          </li>
          <li class="cart_button"><a routerLink="/books/cart"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
