<section id="speakers" data-scroll-index="2" class="content-block speakers">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Ключевые спикеры</h2>
  </div>

  <div class="owl-carousel owl-theme speakers-carousel">

    <!-- Speaker 1 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Багненко.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Anna Davis</h6>

        <p i18n>CEO of Lorem Ipsum</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 2 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Гончаров.jpeg" alt="">

      <div class="speaker-details">
        <h6 i18n>Samanta Miller</h6>

        <p i18n>CEO of Yet Another Company</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 3 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Багненко.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>John Smith</h6>

        <p i18n>CTO at Company Name</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 4 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Лобзин.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Anna Davis</h6>

        <p i18n>CEO of Lorem Ipsum</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 5 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Гончаров.jpeg" alt="">

      <div class="speaker-details">
        <h6 i18n>Samanta Miller</h6>

        <p i18n>CEO of Yet Another Company</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 6 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Vladimir_Porhanov.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>John Smith</h6>

        <p i18n>CTO at Company Name</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 7 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Багненко.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>John Smith</h6>

        <p i18n>CTO at Company Name</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!-- Speaker 8 -->
    <div class="speaker-item blink-on-hover">
      <img src="./assets/img/Лобзин.jpg" alt="">

      <div class="speaker-details">
        <h6 i18n>Samanta Miller</h6>

        <p i18n>CEO of Yet Another Company</p>

        <div class="speaker-details-icons">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
