<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1450263351065 vc_row-has-fill"
     style="position: relative; left: -76px; box-sizing: border-box; width: 1752px; padding-left: 76px; padding-right: 76px;">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <!-- begin welcome -->
        <div class="welcome wow no  animated" style="visibility: visible;">
          <h2>Welcome to Papirus book store</h2>
          <p>Tons of book collections you can choose from. Books that don’t suck, we ensure the quality of our books<br>
            the best you can find anywhere.</p>

        </div>
        <!-- end welcome -->
      </div>
    </div>
  </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
