<app-page-title pageTitle="Boutique"></app-page-title>

<div id="content">
  <div class="container">
    <div class="row">
      <section class="col-md-9">
        <nav class="filterable_nav">
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Books'}">Все</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Neonatology'}">Неонатология</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Allergology'}">Аллергология</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Pediatrics'}">Педиатрия</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Cardiac-surgery'}">Кардиохирургия</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Neurosurgery'}">Нейрохирургия</a>
          <a  routerLink="." routerLinkActive="current" [queryParams]="{category:'Other'}">Прочие</a>
        </nav>

        <div class="featured_book">
          <h2 class="section_title col-md-9">Featured Book</h2>
          <!--TODO Нужно добавить margin-right:50px чтобы выровнять нижнюю границу border (торчит) -->
          <div class="sorting col-md-3" style="padding: 50px 20px;">
            <form class="woocommerce-ordering" method="get">
              <select class="orderby" name="orderby">
                <option selected="selected" value="menu_order">Default sorting</option>
                <option value="popularity">Sort by popularity</option>
                <option value="rating">Sort by average rating</option>
                <option value="date">Sort by newness</option>
                <option value="price">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
              </select>
            </form>
          </div>
          <div *ngFor="let book of books" class="product" style="border-bottom: 1px solid #3c3c3c;">
            <span *ngIf="book.sale" class="onsale">Sale!</span>
            <figure class="col-md-5 featured-image-holder">
              <a routerLink="/books/shop" [queryParams]="{id: book.id}" title="{{book.title}}">
                <img alt="{{book.imgAlt}}" src="{{book.imgSrc}}">
              </a>
              <a class="button quick-view-button">Quick View</a>
            </figure>
            <div class="product_desc col-md-5">
              <p class="author">By <a href="">{{book.author}}</a></p>
              <h3 class="item-title">
                <a routerLink="/books/shop" [queryParams]="{id: book.id}" title="{{book.title}}">{{book.title}}</a>
              </h3>
              {{book.description}}
            </div>
            <div class="product_details col-md-2">
              <span class="price">
                <del *ngIf="book.oldPrice">£ {{book.oldPrice}}</del>
                <ins>£ {{book.price}}</ins>
              </span>
              <span class="cats">
                <a href="">{{book.category[0]}}</a>
              </span>
              <a *ngIf="!book.isInCart" class="button add_to_cart added" href="" rel="nofollow">Add to cart</a>
              <a *ngIf="book.isInCart" routerLink="/books/wishlist" class="added_to_cart" title="View cart">View
                cart</a>

              <div *ngIf="!book.isInWishlist" class="yith-wcwl-add-button show">
                <a class="add_to_wishlist" href="" rel="nofollow">Add to Wishlist</a>
              </div>
              <div style="display:none;">
                <span class="feedback">Product added!</span>
                <a routerLink="/books/wishlist">Browse Wishlist</a>
              </div>
              <div *ngIf="book.isInWishlist">
                <span class="feedback">The product is already in the wishlist!</span>
                <a routerLink="/books/wishlist">Browse Wishlist</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <aside class="sidebar col-md-3">
        <app-find-product-form></app-find-product-form>
        <app-product-categories></app-product-categories>

        <!-- TODO Здесь должен рандомно оставаться только один элемент: TOP RATED PRODUCTS или ONSALE PRODUCTS -->
        <app-products title="Top Rated Products" searchType="Top Rated"></app-products>
        <app-products title="Onsale Products" searchType="Sale"></app-products>
        <app-business-hours></app-business-hours>
      </aside>
      <nav class="pagination loop-pagination col-md-9">
        <a class="prev page-numbers">Previous</a>
        <span style="margin-right: 5rem">Showing 1–9 of 19 results</span>
        <span class="page-numbers current">1</span>
        <a class="page-numbers">2</a>
        <a class="page-numbers">3</a>
        <a class="next page-numbers">Next</a></nav>
    </div>
  </div>
</div>
