@charset "utf-8";

// Core
//@import "compass";

// Plugins
// @import "susy";

// Helpers
@import "helper/variables";
@import "helper/fonts";
@import "helper/palettes";
@import "helper/buttons";
@import "helper/mixins";
@import "helper/mixins-bootstrap";
@import "helper/media-queries";
@import "helper/custom";
@import "helper/config";

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NORMALIZE
 * SHARED
 *
 * MAIN
 * TYPOGRAPHY
 * FORM & TABLE
 * IMAGE
 *
 * HEADER
 * NAVIGATIONS
 * WIDGETS
 * COMMENTS
 * PAGINATIONS
 * FOOTER
 *
 * HOME_PAGE
 * BLOG
 * PORTFOLIO
 * PAGE_TEMPLATES
 *
 * WOO_PRODUCTS
 * WOO_SINGLE
 * WOO_CART
 * WOO_CHECKOUT
 * WOO_PAGES
 * WOO_WIDGETS
 * WOO_MISC
 *
 * IE_HACKS
 */

/*------------------------------------*\
	$NORMALIZE
\*------------------------------------*/
*{
	box-sizing: border-box;
	&:before,&:after{
		box-sizing: border-box;
	}
}
@import "base/normalize";
@import "helper/grid";
// @import "helper/tokokoo_grid";
@import "helper/animate";

/*------------------------------------*\
	$SHARED
\*------------------------------------*/
@import "base/shared";


/*------------------------------------*\
	$TYPOGRAPHY
\*------------------------------------*/
@import "base/typography";

/*------------------------------------*\
	$FORM & $TABLE
\*------------------------------------*/
@import "base/forms";
@import "base/table";

/*------------------------------------*\
	$IMAGE
\*------------------------------------*/
@import "base/images";

/*------------------------------------*\
	$BASIC
\*------------------------------------*/
@import "template/basic";

/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/
@import "template/layout";

/*------------------------------------*\
	$HEADER
\*------------------------------------*/
@import "template/header";

/*------------------------------------*\
	$NAVIGATIONS
\*------------------------------------*/
@import "template/navigation";

/*------------------------------------*\
	$WIDGETS
\*------------------------------------*/
@import "template/widgets";

/*------------------------------------*\
	$COMMENTS
\*------------------------------------*/
@import "template/comments";

/*------------------------------------*\
	$SECTION
\*------------------------------------*/
@import "template/sections";

/*------------------------------------*\
	$COMPONENTS
\*------------------------------------*/
@import "template/components";

/*------------------------------------*\
	$SIDEBAR
\*------------------------------------*/
@import "template/sidebar";


/*------------------------------------*\
	$PAGINATIONS
\*------------------------------------*/
@import "template/paginations";

/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
@import "template/footer";

/*------------------------------------*\
	$HOME_PAGE
\*------------------------------------*/
@import "template/home-page";

/*------------------------------------*\
	$BLOG
\*------------------------------------*/
@import "template/blog";

/*------------------------------------*\
	$PORTFOLIO
\*------------------------------------*/
@import "template/portfolio";

/*------------------------------------*\
	$PAGE_TEMPLATES
\*------------------------------------*/
@import "template/page-templates";

/*------------------------------------*\
	$SIDE_MENU
\*------------------------------------*/
@import "template/side-menu";


/*------------------------------------*\
	$WOO_BASIC
\*------------------------------------*/
@import "woo/basic";

/*------------------------------------*\
	$WOO_PRODUCTS
\*------------------------------------*/
@import "woo/products";

/*------------------------------------*\
	$WOO_SINGLE
\*------------------------------------*/
@import "woo/single-product";

/*------------------------------------*\
	$WOO_CART
\*------------------------------------*/
@import "woo/cart";

/*------------------------------------*\
	$WOO_CHECKOUT
\*------------------------------------*/
@import "woo/checkout";

/*------------------------------------*\
	$WOO_PAGES
\*------------------------------------*/
@import "woo/pages";

/*------------------------------------*\
	$WOO_WIDGETS
\*------------------------------------*/
@import "woo/woo-widgets";

/*------------------------------------*\
	$WOO_MISC
\*------------------------------------*/
@import "woo/misc";

/*------------------------------------*\
	$YITH
\*------------------------------------*/
@import "plugin/yith";

/*------------------------------------*\
	$VISUAL_COMPOSER
\*------------------------------------*/
@import "plugin/visual-composer";

/*------------------------------------*\
	$IE_HACKS
\*------------------------------------*/
@import "custom/ie";

/*------------------------------------*\
	$ADDITIONAL QA-BUGFIX TESTS
	(re-manage and delete this file
	on production)
	@author : Pratama
\*------------------------------------*/
@import "helper/z-reviews";
