<footer class="page_footer">
  <!-- Begin .top_footer -->
  <div class="top_footer">
    <div class="container row">
      <div class="col-sm-6">
        <div class="widgets_container col-md-6">
          <app-products title="Top Rated Products" searchType="Top Rated"></app-products>
        </div>
        <div class="widgets_container col-md-6">
          <app-products title="Onsale Products" searchType="Sale"></app-products>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="widgets_container col-md-6">
          <div id="recent-posts-4" class="widget widget_recent_entries">
            <div class="widget_content"><h2 class="widget-title">FROM OUR BLOG</h2>
              <ul>
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/are-there-anger-management-books-available/">Are There
                    Anger Management Books Available</a>
                  <span class="post-date">December 5, 2013</span>
                </li>
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/sticky/">Sticky</a>
                  <span class="post-date">January 7, 2013</span>
                </li>
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/buy-your-books-online-and-save-a-boatload-of-cash/">Buy
                    Your Books Online And Save A Boatload Of Cash</a>
                  <span class="post-date">December 10, 2012</span>
                </li>
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/post-format-aside/">Enticing Children To Read More
                    Books</a>
                  <span class="post-date">December 9, 2012</span>
                </li>
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/post-format-chat/">The Pleasure That Kids Find From
                    Books</a>
                  <span class="post-date">December 8, 2012</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="widgets_container col-md-6">
          <div id="tokokoo_twitter_widget-2" class="widget twitter-tweets">
            <div class="widget_content"><h2 class="widget-title">Recent Tweets</h2>
              <div class="twitter-tweets-inner">
                <ul class="twitter-tweets-list">
                  <li class="tweet">
                    <div class="tweet-avatar"><img
                      src="http://pbs.twimg.com/profile_images/2956782783/72a0b896969b69f707c038c08657fb28_normal.png"
                      width="48px" height="48px"></div>
                    <div class="tweet-content">
                      <span class="tweet-user"><a
                        href="https://twitter.com/tokokoo"><strong>tokokoo</strong> @tokokoo</a></span>
                      <span class="tweet-text">Web Copy For Your Ecommerce Site: Tips &amp; Tricks <a
                        href="http://t.co/mdIb4Z6z0W" title="http://t.co/mdIb4Z6z0W" target="_blank">http://t.co/mdIb4Z6z0W</a> <a
                        href="https://twitter.com/search?q=wordpress" title="Search #wordpress" target="_blank">#wordpress</a> <a
                        href="https://twitter.com/search?q=woocommerce" title="Search #woocommerce" target="_blank">#woocommerce</a> <a
                        href="http://t.co/FdheFPK3KT" title="http://t.co/FdheFPK3KT" target="_blank">http://t.co/FdheFPK3KT</a></span>
                      <span class="tweet-time"><a href="http://twitter.com/96927581/status/633231227487543296">over a year ago</a></span>
                    </div>
                  </li>
                  <li class="tweet">
                    <div class="tweet-avatar"><img
                      src="http://pbs.twimg.com/profile_images/2956782783/72a0b896969b69f707c038c08657fb28_normal.png"
                      width="48px" height="48px"></div>
                    <div class="tweet-content">
                      <span class="tweet-user"><a
                        href="https://twitter.com/tokokoo"><strong>tokokoo</strong> @tokokoo</a></span>
                      <span class="tweet-text">Responsive Design For Beginners <a href="http://t.co/DtToL11OrZ"
                                                                                  title="http://t.co/DtToL11OrZ"
                                                                                  target="_blank">http://t.co/DtToL11OrZ</a> <a
                        href="https://twitter.com/search?q=wordpress" title="Search #wordpress" target="_blank">#wordpress</a> <a
                        href="https://twitter.com/search?q=woocommerce" title="Search #woocommerce" target="_blank">#woocommerce</a> <a
                        href="http://t.co/0ikEInLhFu" title="http://t.co/0ikEInLhFu" target="_blank">http://t.co/0ikEInLhFu</a></span>
                      <span class="tweet-time"><a href="http://twitter.com/96927581/status/633140603774107648">over a year ago</a></span>
                    </div>
                  </li>
                  <li class="tweet">
                    <div class="tweet-avatar"><img
                      src="http://pbs.twimg.com/profile_images/2956782783/72a0b896969b69f707c038c08657fb28_normal.png"
                      width="48px" height="48px"></div>
                    <div class="tweet-content">
                      <span class="tweet-user"><a
                        href="https://twitter.com/tokokoo"><strong>tokokoo</strong> @tokokoo</a></span>
                      <span class="tweet-text">Top 10 Furnitures Online Stores&amp;<a
                        href="https://twitter.com/search?q=039" title="Search #039" target="_blank">#039</a>; Theme Designs <a
                        href="https://t.co/3CaDeb9xfk" title="https://t.co/3CaDeb9xfk" target="_blank">https://t.co/3CaDeb9xfk</a> <a
                        href="https://twitter.com/search?q=wordpress" title="Search #wordpress" target="_blank">#wordpress</a> <a
                        href="https://twitter.com/search?q=woocommerce" title="Search #woocommerce" target="_blank">#woocommerce</a> <a
                        href="http://t.co/n7ELBZ2YKu" title="http://t.co/n7ELBZ2YKu" target="_blank">http://t.co/n7ELBZ2YKu</a></span>
                      <span class="tweet-time"><a href="http://twitter.com/96927581/status/633049982451343360">over a year ago</a></span>
                    </div>
                  </li>
                </ul><!-- .twitter-tweets-list --><span class="follow-me">
                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
                            allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered"
                            style="position: static; visibility: visible; width: 118px; height: 20px;"
                            title="Twitter Follow Button"
                            src="https://platform.twitter.com/widgets/follow_button.2d7d9a6d04538bf11c7b23641e75738c.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=tokokoo&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1599261062874"
                            data-screen-name="tokokoo"></iframe>
                    <script>!function (d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                      }
                    }(document, "script", "twitter-wjs");</script>
                </span></div><!-- .twitter-tweets-inner --></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .top_footer -->

  <!-- Begin .bottom_footer -->
  <div class="bottom_footer">
    <div class="container row">
      <div class="col-md-3">
        <div class="footer-text">
          Карта сайта Педиатрички
        </div>

        <div class="social_links">
          <a target="_blank" href="https://www.facebook.com/news.gpmu" class="fa fa-facebook"></a>
          <a target="_blank" href="https://vk.com/news.gpmu" class="fa fa-vk"></a>
          <a target="_blank" href="https://www.instagram.com/spbgpmu/" class="fa fa-instagram"></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCjPg7vzECT5JKlgYTk5NfXg" class="fa fa-youtube"></a>
          <a target="_blank" href="https://mail.yandex.ru/compose?mailto=press@gpma.ru" class="fa fa-envelope-o"></a>
        </div>

      </div>
      <div class="footer_menu col-md-9">
        <nav class="inline_nav">
          <ul id="menu-footer" class="menu">
            <li class="menu-item"><a routerLink="/news">Новости</a></li>
            <li class="menu-item"><a routerLink="/univercity">Университет</a></li>
            <li class="menu-item"><a routerLink="/perinatal">Перинатальный центр</a></li>
            <li class="menu-item"><a routerLink="/clinic">Клиника</a></li>
            <li class="menu-item"><a routerLink="/congress">Конгресс</a></li>
            <li class="menu-item"><a routerLink="/books">Книжная лавка</a></li>
            <li class="menu-item"><a routerLink="/contacts">Контакты</a></li>
            <li class="menu-item"><a routerLink="/faq">Faq</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
