<app-page-title pageTitle="Faq"></app-page-title>

<!--TODO нужно поправить css-стили-->
<div id="content">
  <div class="container">

    <div class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-9">
        <div class="vc_column-inner vc_custom_1401107281526">
          <div class="wpb_wrapper">
            <div class="wpb_accordion wpb_content_element  not-column-inherit" data-collapsible="yes"
                 data-vc-disable-keydown="false" data-active-tab="0">
              <div class="wpb_wrapper wpb_accordion_wrapper ui-accordion ui-widget ui-helper-reset" role="tablist">


                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false"
                      tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#what-is-a-theme">What is a theme?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p>A theme, template, skin and etc., is a ready to use design and layout you can use on your
                          existing WordPress site. WordPress will handle all the contents for you (such as posts, pages,
                          comments), while the themes transforms those contents into a beautiful and clean layout for
                          your website visitors/customers. Many themes come with quite a bit of customizable options,
                          but all of our themes run on the Woo Framework which built with lots of great features and
                          goodies. Simply take a tour of our framework, or do the test drive by yourself on our themes
                          playground/showcase.</p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#what-is-wordpress-ecommerce-theme">What is WordPress ecommerce theme?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p>WordPress e-Commerce is an e-Commerce plugin for WordPress. Since WordPress has now expanded
                          to the e-Commerce business, all themes we provided are supported by WooCommerce and WordPress
                          e-Commerce from GetShopped.org. To see available themes, you can go to WooCommerce Themes and
                          WordPress e-Commerce Themes.</p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#in-which-browsers-and-browser-versions-did-you-test-the-themes">In which browsers and browser
                    versions did you test the themes?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p>We tested all of our themes on Internet Explorer 8, the latest versions of Firefox, Safari,
                          and Chrome. Regarding to operating systems, our themes are independent from the operating
                          system you use. It will work as long as WordPress is installed correctly. We’re not supported
                          to the Internet Explorer 6 and 7. If you use Internet Explorer 6 or 7, please consider to
                          upgrade it to the latest Internet Explorer, or you can simply switch to a different browser to
                          have the best experience with our themes.</p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#in-which-browsers-and-browser-versions-did-you-test-the-themes">In which browsers and browser
                    versions did you test the themes?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p>We tested all of our themes on Internet Explorer 8, the latest versions of Firefox, Safari,
                          and Chrome. Regarding to operating systems, our themes are independent from the operating
                          system you use. It will work as long as WordPress is installed correctly. We’re not supported
                          to the Internet Explorer 6 and 7. If you use Internet Explorer 6 or 7, please consider to
                          upgrade it to the latest Internet Explorer, or you can simply switch to a different browser to
                          have the best experience with our themes.</p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-9" aria-controls="ui-id-10" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#in-which-browsers-and-browser-versions-did-you-test-the-themes">In which browsers and browser
                    versions did you test the themes?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-10" aria-labelledby="ui-id-9" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p>We tested all of our themes on Internet Explorer 8, the latest versions of Firefox, Safari,
                          and Chrome. Regarding to operating systems, our themes are independent from the operating
                          system you use. It will work as long as WordPress is installed correctly. We’re not supported
                          to the Internet Explorer 6 and 7. If you use Internet Explorer 6 or 7, please consider to
                          upgrade it to the latest Internet Explorer, or you can simply switch to a different browser to
                          have the best experience with our themes.</p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#do-your-themes-work-with-plugins">Do your themes work with plugins?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">Yes, our themes work with plugins and most plugins should work with our themes, HOWEVER, we can’t guarantee they all will. There are some plugins that conflicts with code used in the themes, which will make our themes doesn&amp;#8217;t function properly. There are so many plugins available, and if the plugin has been coded to WordPress standards, chances are 99% it works well with our themes. If it doesn&amp;#8217;t, we’re happy to troubleshoot and figure out which one is being the problem. Just drop us a message on the contact page.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#i-havent-receive-my-receipt-or-login-details">I haven’t receive my receipt or login
                    details?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-15" aria-controls="ui-id-16" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#how-often-your-themes-being-updated">How often your themes being updated?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-16" aria-labelledby="ui-id-15" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-17" aria-controls="ui-id-18" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#can-i-use-your-themes-with-my-wordpress-com-free-hosted-account">Can I use your themes with
                    my WordPress.com free hosted account?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-18" aria-labelledby="ui-id-17" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-19" aria-controls="ui-id-20" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#what-is-the-psd-file-and-why-do-i-need-it">What is the PSD file, and why do I need it?</a>
                  </h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-20" aria-labelledby="ui-id-19" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-21" aria-controls="ui-id-22" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#can-i-modify-the-themes-based-on-what-i-like-to">Can I modify the themes based on what I like
                    to?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-22" aria-labelledby="ui-id-21" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-23" aria-controls="ui-id-24" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#can-i-use-your-themes-on-commercial-projects">Can I use your themes on commercial
                    projects?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-24" aria-labelledby="ui-id-23" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-25" aria-controls="ui-id-26" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#how-will-i-get-access-to-purchased-themes-after-the-payment">How will I get access to
                    purchased themes after the payment?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-26" aria-labelledby="ui-id-25" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-27" aria-controls="ui-id-28" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#do-i-need-to-keep-tokokoo-credit-link-in-footer">Do I need to keep Tokokoo credit link in
                    footer?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-28" aria-labelledby="ui-id-27" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-29" aria-controls="ui-id-30" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#what-is-wordpress">What is WordPress?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-30" aria-labelledby="ui-id-29" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-31" aria-controls="ui-id-32" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#how-do-i-install-my-tokokoo-themes">How do I install my Tokokoo themes?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-32" aria-labelledby="ui-id-31" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons"
                      role="tab" id="ui-id-33" aria-controls="ui-id-34" aria-selected="false" aria-expanded="false"
                      tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a
                    href="#how-does-the-payment-process-work">How does the payment process work?</a></h3>
                  <div
                    class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom"
                    id="ui-id-34" aria-labelledby="ui-id-33" role="tabpanel" aria-hidden="true" style="display: none;">

                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <p><span style="color: #000000;">After you subscribe to a plan or select a theme, you will be directed to check out screen. Fill in your name, your desired username and password. Or you could log in with your existing account. Then hit NEXT button to continue the payment process. Once your payment is approved and your account is created, login to your account, head to dashboard and download your themes.</span>
                        </p>

                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                        <h3
                          style="direction: ltr; margin: 0px; padding: 0px; font-family: Merriweather, Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight: bold; font-size: 2rem; line-height: 1.66667; color: #5c5c5c; font-style: normal; font-variant: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff;">
                          Got your own Question? Here are some Option</h3>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid vertical_feature_list">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">

                    <div class="feature_item  wow no"
                         style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
                      <i class="fa fa-comments"></i>
                      <h3 class="feature_title">Ask Us in Comment</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, delectus, soluta, tenetur,
                        odio tempore iste culpa tempora neque libero provident iusto placeat mollitia consequuntur
                        assumenda a quidem ducimus? Ad, at.</p>
                    </div>


                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">

                    <div class="feature_item  wow no"
                         style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
                      <i class="fa fa-bullhorn"></i>
                      <h3 class="feature_title">Contact Us</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, delectus, soluta, tenetur,
                        odio tempore iste culpa tempora neque libero provident iusto placeat mollitia consequuntur
                        assumenda a quidem ducimus? Ad, at.</p>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO Нужно заменить элементы book_search и прочие на sidebar <aside> с shared компонентами -->
      <div class="wpb_column vc_column_container vc_col-sm-3">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">

            <!-- begin book_search -->

            <div class="book_search widget_book_search">
              <div class="widget_content">
                <h2 class="widget_title">Find<strong>Product</strong></h2>
                <form action="http://tokokoodemo.us/papirus/books/" method="get" role="search">
                  <input type="text" name="s" placeholder="Find Products">
                  <select name="product_cat" id="product_cat" class="postform">
                    <option value="0" selected="selected">All Categories</option>
                    <option class="level-0" value="programming">Programming</option>
                    <option class="level-0" value="javascript">Javascript</option>
                    <option class="level-0" value="web-application">Web Application</option>
                    <option class="level-0" value="html5">HTML5</option>
                    <option class="level-0" value="seo">SEO</option>
                    <option class="level-0" value="web-design">Web Design</option>
                  </select>

                  <select name="authors" id="authors" class="postform">
                    <option value="0" selected="selected">All Authors</option>
                    <option class="level-0" value="thoriq-firdaus">Thoriq Firdaus</option>
                    <option class="level-0" value="tim-kadlec">Tim Kadlec</option>
                    <option class="level-0" value="steve-krug">Steve Krug</option>
                    <option class="level-0" value="susan-weinschenk">Susan Weinschenk</option>
                    <option class="level-0" value="austin-kleon">Austin Kleon</option>
                    <option class="level-0" value="ellen-lupton">Ellen Lupton</option>
                    <option class="level-0" value="patrick-mcneil">Patrick McNeil</option>
                    <option class="level-0" value="brian-miller">Brian Miller</option>
                    <option class="level-0" value="kyle-simpson">Kyle Simpson</option>
                    <option class="level-0" value="nicholas-c-zakas">Nicholas C. Zakas</option>
                  </select>

                  <input type="submit" class="button" value="Search">
                  <input type="hidden" name="post_type" value="product">
                </form>

              </div>
            </div>


            <!-- begin book_search -->

            <div class="widget woocommerce widget_top_rated_products"><h2 class="widgettitle">Top Rated Products</h2>
              <ul class="product_list_widget">
                <li>
                  <a href="http://tokokoodemo.us/papirus/books/product/woo-single-2/">
                    <img width="80" height="80"
                         src="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-80x80.jpg"
                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""
                         srcset="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-80x80.jpg 80w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-150x150.jpg 150w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-100x100.jpg 100w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-136x136.jpg 136w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2013/06/book14-300-45x45.jpg 45w"
                         sizes="(max-width: 80px) 100vw, 80px"> <span class="product-title">Implementing Responsive Design: Building sites for an anywhere, everywhere web (Voices That Matter)</span>
                  </a>
                  <div class="star-rating"><span style="width:90%">Rated <strong
                    class="rating">4.50</strong> out of 5</span></div>
                  <del><span class="woocommerce-Price-amount amount"><span
                    class="woocommerce-Price-currencySymbol">£</span>650.80</span></del>
                  <ins><span class="woocommerce-Price-amount amount"><span
                    class="woocommerce-Price-currencySymbol">£</span>625.50</span></ins>
                </li>

                <li>
                  <a
                    href="http://tokokoodemo.us/papirus/books/product/100-things-every-designer-needs-to-know-about-people-voices-that-matter/">
                    <img width="80" height="80"
                         src="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-80x80.jpg"
                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""
                         srcset="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-80x80.jpg 80w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-150x150.jpg 150w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-100x100.jpg 100w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-136x136.jpg 136w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book2-300-45x45.jpg 45w"
                         sizes="(max-width: 80px) 100vw, 80px"> <span class="product-title">100 Things Every Designer Needs to Know About People (Voices That Matter)</span>
                  </a>
                  <div class="star-rating"><span style="width:90%">Rated <strong
                    class="rating">4.50</strong> out of 5</span></div>
                  <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>100.00</span>
                </li>

                <li>
                  <a href="http://tokokoodemo.us/papirus/books/product/responsive-web-design-by-example/">
                    <img width="80" height="80"
                         src="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-80x80.jpg"
                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""
                         srcset="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-80x80.jpg 80w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-150x150.jpg 150w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-100x100.jpg 100w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-136x136.jpg 136w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book12-300-45x45.jpg 45w"
                         sizes="(max-width: 80px) 100vw, 80px"> <span class="product-title">Neuro Web Design: What Makes Them Click?</span>
                  </a>
                  <div class="star-rating"><span style="width:80%">Rated <strong
                    class="rating">4.00</strong> out of 5</span></div>
                </li>

                <li>
                  <a
                    href="http://tokokoodemo.us/papirus/books/product/how-to-get-people-to-do-stuff-master-the-art-and-science-of-persuasion-and-motivation/">
                    <img width="80" height="80"
                         src="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-80x80.jpg"
                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""
                         srcset="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-80x80.jpg 80w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-150x150.jpg 150w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-100x100.jpg 100w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-136x136.jpg 136w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2014/05/book8-300-45x45.jpg 45w"
                         sizes="(max-width: 80px) 100vw, 80px"> <span class="product-title">How to Get People to Do Stuff: Master the art and science of persuasion and motivation</span>
                  </a>
                  <del><span class="woocommerce-Price-amount amount"><span
                    class="woocommerce-Price-currencySymbol">£</span>670.00</span></del>
                  <ins><span class="woocommerce-Price-amount amount"><span
                    class="woocommerce-Price-currencySymbol">£</span>650.00</span></ins>
                </li>

                <li>
                  <a href="http://tokokoodemo.us/papirus/books/product/maintainable-javascript/">
                    <img width="80" height="80"
                         src="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-80x80.jpg"
                         class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""
                         srcset="//tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-80x80.jpg 80w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-150x150.jpg 150w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-100x100.jpg 100w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-136x136.jpg 136w, //tokokoodemo.us/papirus/books/wp-content/uploads/sites/2/2012/12/book4-300-45x45.jpg 45w"
                         sizes="(max-width: 80px) 100vw, 80px"> <span
                    class="product-title">Maintainable JavaScript</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
