<div class="content_widget widget_area">
  <div class="container">
    <section class="col-xs-12 col-sm-6 col-md-4">
      <div class="widget post-type-widget">
        <div class="widget_content">
          <h2 class="widget-title">FROM OUR BLOG</h2>
          <ul class="no-list-style">
            <li class="cl"><!-- TODO Разобраться, зачем .cl даёт css-свойство zoom:1 -->
              <h2 class="post-title">
                <a href="">Are There Anger Management Books Available</a>
              </h2>
              <span class="post-time">7 years ago</span>
              <div class="post-summary">It is now widely accepted that shopping for books in a traditional brick and
                mortar shop is a hassle. Usually, many serious book shoppers are trying to access a book or magazine
                that are blocked by men, women, and kids, laying on the floor, talking on mobile phones, or going
                through the books and then …
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-4">
      <app-products title="Top Rated Products" searchType="Top Rated"></app-products>
    </section>
    <section class="col-xs-12 col-sm-6 col-md-4">
      <div class="widget">
        <div class="widget_content">
          <h2 class="widget-title">Newsletter</h2>
          <form method="post">
            <input type="email" placeholder="Your Email Address" required="required">
            <input type="submit" value="Subscribe" class="button big">
            <p>Thank you, your sign-up request was successful! Please check your e-mail inbox.</p>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
