<div class="page-info-wrapper post-presentation lazy active background"
     style="background-image: url(&quot;https://images.unsplash.com/photo-1538664964229-b7b80ae49eba?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=3db78ff2e4fe47744b9fb2276d47e136&quot;);">
  <div class="gradient gradient1">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md col-lg col-xs-12">
          <h1 class="animated fadeInUp">Categories</h1>
          <p class="animated fadeInUp">Browse through all our content</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-latest-post></app-latest-post>

<div id="main">
  <div class="container">
    <div class="row">
      <div *ngFor="let category of categories$ | async" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background"
             [ngStyle]="{ 'background-image': 'url(' + category.backgroundImageURL + ')'}">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a routerLink="/tag/{{category.url}}/">{{category.title}}</a></h3>
              <p>{{category.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b-frame"></div>
