<!-- POST INFO WRAPPER -->
<div class="page-info-wrapper post-presentation lazy active background" data-src="https://images.unsplash.com/photo-1538664964229-b7b80ae49eba?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=3db78ff2e4fe47744b9fb2276d47e136" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1538664964229-b7b80ae49eba?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=3db78ff2e4fe47744b9fb2276d47e136&quot;);">
  <div class="gradient gradient1">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md col-lg col-xs-12">
          <h1 class="animated fadeInUp">Categories</h1>
          <p class="animated fadeInUp">Browse through all our content</p>
        </div>
      </div>
    </div>
  </div>
</div>


<app-latest-post></app-latest-post>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1536506252322-a4cb9cae8655?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=ccfbc96c2938788d0ac3b15a409e6f85" style="height: 346.656px; background-image: url(&quot;https://images.unsplash.com/photo-1536506252322-a4cb9cae8655?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=ccfbc96c2938788d0ac3b15a409e6f85&quot;);" data-was-processed="true">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a href="http://157.230.217.118:3001/tag/getting-started/">Getting Started</a></h3>
              <p>Learn to use Ghost.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1503993656770-0479a287559e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=072ee3522f4a36f9cd671e62e6bb4430" style="height: 346.656px; background-image: url(&quot;https://images.unsplash.com/photo-1503993656770-0479a287559e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=072ee3522f4a36f9cd671e62e6bb4430&quot;);" data-was-processed="true">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a href="http://157.230.217.118:3001/tag/history/">History</a></h3>
              <p>Posts full of historic value and useful information.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background" data-src="http://157.230.217.118:3001/content/images/2019/07/photo-1559762691-617a33825bc6.jpeg" style="height: 346.656px; background-image: url(&quot;http://157.230.217.118:3001/content/images/2019/07/photo-1559762691-617a33825bc6.jpeg&quot;);" data-was-processed="true">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a href="http://157.230.217.118:3001/tag/science/">Science</a></h3>
              <p>Posts for the most curious ones.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1524748969064-cf3dabd7b84d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=ac060f5dff456a0b3fabab140a9a09a8" style="height: 346.656px; background-image: url(&quot;https://images.unsplash.com/photo-1524748969064-cf3dabd7b84d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=ac060f5dff456a0b3fabab140a9a09a8&quot;);" data-was-processed="true">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a href="http://157.230.217.118:3001/tag/sports/">Sports</a></h3>
              <p>All about that game last night.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f77bb44deae20328aae0ead8073dc209" style="height: 346.656px; background-image: url(&quot;https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f77bb44deae20328aae0ead8073dc209&quot;);" data-was-processed="true">
          <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info">
              <div class="separator"></div>
              <h3><a href="http://157.230.217.118:3001/tag/travel/">Travel</a></h3>
              <p>Everything you need to know for your next trip.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="b-frame"></div>
