<div class="post-info-wrapper post-presentation active lazy background" data-src="http://157.230.217.118:3001/content/images/2018/09/michal-parzuchowski-324218-unsplash-min.jpg" data-was-processed="true" style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/michal-parzuchowski-324218-unsplash-min.jpg&quot;);">
  <div class="gradient gradient1">
    <div class="container d-flex align-items-center">
      <div class="row align-items-center w-100">
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <div class="d-xs-block d-sm-flex align-items-center">
            <div class="author-image-wrapper animated fadeInLeft">
              <div class="author-image background lazy" data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" data-was-processed="true" style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg&quot;);"></div>
            </div>
            <div class="author-info-wrapper">
              <h2 class="animated fadeInDown">Diego Balmaceda</h2>
              <p class="d-block mt-0 animated fadeInUp"><i class="fa fa-map-marker"></i> Managua, Nicaragua</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg col-xs-12">
          <p class="author-bio d-block animated fadeInUp">System Engineering student. 19 years old. I love open source projects, coffee, Age of Empires... Did I say coffee already?</p>
        </div>
      </div>
    </div>

    <!-- AUTHOR INFO -->
    <div class="author-wrapper post-presentation container">
      <div class="d-flex justify-content-between align-items-center">
        <p class="author-post-count mt-0 animated fadeIn"><i class="fas fa-pencil-alt"></i> 9 posts</p>
        <div class="share-icons icons-visible animated fadeIn">
          <div class="icon-container">
            <div class="icons">



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="latest-post">
  <div class="container d-md-flex align-items-center">
    <span class="badge badge-primary">Latest Post</span>
    <a href="http://157.230.217.118:3001/thor-the-thunder-god/" class="d-md-inline-flex d-block">Thor, the Nordic God <span>by Diego Balmaceda</span></a>
  </div>
</div>

<!--<div id="main">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12 col-sm-12 col-lg-8 col-md-12">-->
<!--        <div class="post post-presentation first-post lazy background" data-src="https://images.unsplash.com/photo-1519125478587-9e2e97231d2c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f555c229fd7926ccd7b3c41a288a2f54" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1519125478587-9e2e97231d2c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f555c229fd7926ccd7b3c41a288a2f54&quot;);">-->
<!--          <div class="gradient gradient2 d-flex align-items-center">-->
<!--            <div class="float-top">-->
<!--              <div href="#" class="share-icons d-none d-sm-block">-->
<!--                <div class="icon-container">-->
<!--                  <i class="fa fa-share"></i>-->
<!--                  <div class="icons">-->
<!--                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/thor-the-thunder-god/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a href="https://twitter.com/share?text=Thor%2C%20the%20Nordic%20God&amp;url=http://157.230.217.118:3001/thor-the-thunder-god/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="post-info">-->
<!--              <h2><a href="http://157.230.217.118:3001/thor-the-thunder-god/">Thor, the Nordic God</a></h2>-->
<!--              <div class="post-tags">-->
<!--                <a href="http://157.230.217.118:3001/tag/history/">History</a>-->
<!--              </div>-->
<!--              <div class="separator"></div>-->
<!--              <p class="d-none d-sm-block">Thor is a prominently mentioned god throughout the recorded history of the Germanic peoples, from the Roman occupation of regions of Germania, to the tribal expansions of the Migration Period...</p>-->
<!--              <a href="http://157.230.217.118:3001/thor-the-thunder-god/" class="btn btn-no-background">Read Post <i class="fa fa-chevron-right"></i></a>-->
<!--            </div>-->
<!--            <div class="float-bottom">-->
<!--              <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--                <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg"></div>Diego Balmaceda-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <div class="col-xs-12 col-sm-12 col-lg-4 col-md-12">-->
<!--        <div class="post post-presentation second-post lazy background" data-src="https://images.unsplash.com/photo-1504829857797-ddff29c27927?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=d04cc88e0936763c6eb1d5cf268f6df2" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1504829857797-ddff29c27927?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=d04cc88e0936763c6eb1d5cf268f6df2&quot;);">-->
<!--          <div class="gradient gradient2">-->
<!--            <h3><a href="http://157.230.217.118:3001/a-peak-into-scandinavias-origin/">A peek into Scandinavia's origin</a></h3>-->
<!--            <div class="post-tags">-->
<!--              <a href="http://157.230.217.118:3001/tag/history/">History</a>-->
<!--            </div>-->
<!--            <div class="share-icons">-->
<!--              <div class="icon-container">-->
<!--                <a href="http://157.230.217.118:3001/author/diego/" class="author-info">-->
<!--                  <div class="author-image background lazy" data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" data-was-processed="true" style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg&quot;);"></div>-->
<!--                </a>-->
<!--                <i class="fa fa-share d-none d-sm-block "></i>-->
<!--                <div class="icons d-none d-sm-block">-->
<!--                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/a-peak-into-scandinavias-origin/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--                  <a href="https://twitter.com/share?text=A%20peek%20into%20Scandinavia%27s%20origin&amp;url=http://157.230.217.118:3001/a-peak-into-scandinavias-origin/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="float-bottom">-->
<!--              <p>The term Scandinavia in local usage covers the three kingdoms of Denmark, Norway, and Sweden. However, in English usage, the term also sometimes refers to the Scandinavian Peninsula...</p>-->
<!--              <a href="http://157.230.217.118:3001/a-peak-into-scandinavias-origin/" class="btn btn-no-background">Read Post <i class="fa fa-chevron-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--        <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1503662549813-28954e75f215?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=85b1b1454e149b001e2415a1d98da039" style="height: 346.656px;">-->
<!--          <div class="gradient gradient2 d-flex align-items-center">-->
<!--            <div class="float-top">-->
<!--              <div href="#" class="share-icons d-none d-sm-block">-->
<!--                <div class="icon-container">-->
<!--                  <i class="fa fa-share"></i>-->
<!--                  <div class="icons">-->
<!--                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/astronomers-announce-discovering-ten-tiny-jovian-satellites/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a href="https://twitter.com/share?text=Astronomers%20announce%20discovering%20ten%20tiny%20Jovian%20satellites&amp;url=http://157.230.217.118:3001/astronomers-announce-discovering-ten-tiny-jovian-satellites/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="post-info">-->
<!--              <div class="separator"></div>-->
<!--              <h3><a href="http://157.230.217.118:3001/astronomers-announce-discovering-ten-tiny-jovian-satellites/">Astronomers announce discovering ten tiny Jovian satellites</a></h3>-->
<!--              <div class="post-tags">-->
<!--                <a href="http://157.230.217.118:3001/tag/science/">Science</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="float-bottom">-->
<!--              <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--                <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--      <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1527409335569-f0e5c91fa707?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=a7dfe365d0259a816ca47b35f5559948" style="height: 346.656px;">-->
<!--        <div class="gradient gradient2 d-flex align-items-center">-->
<!--          <div class="float-top">-->
<!--            <div href="#" class="share-icons d-none d-sm-block">-->
<!--              <div class="icon-container">-->
<!--                <i class="fa fa-share"></i>-->
<!--                <div class="icons">-->
<!--                  <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/fossil-genome/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--                  <a href="https://twitter.com/share?text=Fossil%20genome%20shows%20hybrid%20of%20two%20extinct%20species%20of%20human&amp;url=http://157.230.217.118:3001/fossil-genome/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="post-info">-->
<!--            <div class="separator"></div>-->
<!--            <h3><a href="http://157.230.217.118:3001/fossil-genome/">Fossil genome shows hybrid of two extinct species of human</a></h3>-->
<!--            <div class="post-tags">-->
<!--              <a href="http://157.230.217.118:3001/tag/science/">Science</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="float-bottom">-->
<!--            <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--              <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--    <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1516565340510-21016b8fc86c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=644205802c249276155f94a757ef7446" style="height: 346.656px;">-->
<!--      <div class="gradient gradient2 d-flex align-items-center">-->
<!--        <div class="float-top">-->
<!--          <div href="#" class="share-icons d-none d-sm-block">-->
<!--            <div class="icon-container">-->
<!--              <i class="fa fa-share"></i>-->
<!--              <div class="icons">-->
<!--                <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/manchester-city-beats-chelsea-2-0/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--                <a href="https://twitter.com/share?text=Manchester%20City%20beats%20Chelsea%202-0&amp;url=http://157.230.217.118:3001/manchester-city-beats-chelsea-2-0/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="post-info">-->
<!--          <div class="separator"></div>-->
<!--          <h3><a href="http://157.230.217.118:3001/manchester-city-beats-chelsea-2-0/">Manchester City beats Chelsea 2-0</a></h3>-->
<!--          <div class="post-tags">-->
<!--            <a href="http://157.230.217.118:3001/tag/sports/">Sports</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="float-bottom">-->
<!--          <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--            <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--  <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1528837516156-0a7225a43641?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=51b36662ea68d328215bd0043adc5090" style="height: 346.656px;">-->
<!--    <div class="gradient gradient2 d-flex align-items-center">-->
<!--      <div class="float-top">-->
<!--        <div href="#" class="share-icons d-none d-sm-block">-->
<!--          <div class="icon-container">-->
<!--            <i class="fa fa-share"></i>-->
<!--            <div class="icons">-->
<!--              <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/ireland/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--              <a href="https://twitter.com/share?text=A%20quick%20look%20to%20Iceland%20landscapes&amp;url=http://157.230.217.118:3001/ireland/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="post-info">-->
<!--        <div class="separator"></div>-->
<!--        <h3><a href="http://157.230.217.118:3001/ireland/">A quick look to Iceland landscapes</a></h3>-->
<!--        <div class="post-tags">-->
<!--          <a href="http://157.230.217.118:3001/tag/travel/">Travel</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="float-bottom">-->
<!--        <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--          <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--  <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1536567901538-b873c1915f79?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=128e33d79dc67a5e718420a296f6ef84" style="height: 346.656px;">-->
<!--    <div class="gradient gradient2 d-flex align-items-center">-->
<!--      <div class="float-top">-->
<!--        <div href="#" class="share-icons d-none d-sm-block">-->
<!--          <div class="icon-container">-->
<!--            <i class="fa fa-share"></i>-->
<!--            <div class="icons">-->
<!--              <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/everything-you-need-to-know-about-valkyries/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--              <a href="https://twitter.com/share?text=Everything%20you%20need%20to%20know%20about%20Valkyries&amp;url=http://157.230.217.118:3001/everything-you-need-to-know-about-valkyries/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="post-info">-->
<!--        <div class="separator"></div>-->
<!--        <h3><a href="http://157.230.217.118:3001/everything-you-need-to-know-about-valkyries/">Everything you need to know about Valkyries</a></h3>-->
<!--        <div class="post-tags">-->
<!--          <a href="http://157.230.217.118:3001/tag/history/">History</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="float-bottom">-->
<!--        <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--          <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--  <div class="post post-square lazy post-presentation background" data-src="https://images.unsplash.com/photo-1505504506221-02359e1e5812?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=134aea98d59b9fe66e4d3cc1f4569f89" style="height: 346.656px;">-->
<!--    <div class="gradient gradient2 d-flex align-items-center">-->
<!--      <div class="float-top">-->
<!--        <div href="#" class="share-icons d-none d-sm-block">-->
<!--          <div class="icon-container">-->
<!--            <i class="fa fa-share"></i>-->
<!--            <div class="icons">-->
<!--              <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/welcome/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--              <a href="https://twitter.com/share?text=Welcome%20to%20Ghost&amp;url=http://157.230.217.118:3001/welcome/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="post-info">-->
<!--        <div class="separator"></div>-->
<!--        <h3><a href="http://157.230.217.118:3001/welcome/">Welcome to Ghost</a></h3>-->
<!--        <div class="post-tags">-->
<!--          <a href="http://157.230.217.118:3001/tag/getting-started/">Getting Started</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="float-bottom">-->
<!--        <a href="http://157.230.217.118:3001/author/diego/" class="vertical-align author-info">-->
<!--          <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg" "=""></div> Diego Balmaceda-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">-->
<!--  <div class="post post-square lazy post-presentation background" data-src="https://casper.ghost.org/v1.0.0/images/design.jpg" style="height: 346.656px;">-->
<!--    <div class="gradient gradient2 d-flex align-items-center">-->
<!--      <div class="float-top">-->
<!--        <div href="#" class="share-icons d-none d-sm-block">-->
<!--          <div class="icon-container">-->
<!--            <i class="fa fa-share"></i>-->
<!--            <div class="icons">-->
<!--              <a href="https://www.facebook.com/sharer/sharer.php?u=http://157.230.217.118:3001/themes/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580, height=300&#39;);return false;"><i class="fab fa-facebook-f"></i></a>-->
<!--              <a href="https://twitter.com/share?text=Setting%20up%20your%20own%20Ghost%20theme&amp;url=http://157.230.217.118:3001/themes/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=580, height=300&#39;);return false;"><i class="fab fa-twitter"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="post-info">-->
<!--        <div class="separator"></div>-->
<!--        <h3><a href="http://157.230.217.118:3001/themes/">Setting up your own Ghost theme</a></h3>-->
<!--        <div class="post-tags">-->
<!--          <a href="http://157.230.217.118:3001/tag/getting-started/">Getting Started</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="float-bottom">-->
<!--        <a href="http://157.230.217.118:3001/author/johndoe/" class="vertical-align author-info">-->
<!--          <div class="author-image background lazy " data-src="http://157.230.217.118:3001/content/images/2018/09/Jason-Davis-headshot-min.jpg" "=""></div> John Doe-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- PAGINATION -->
<div id="pagination">
  <div class="container">
    <p class="text-center page-indicator">Page 1 / 1</p>
  </div>
</div>
