<div class="page-info-wrapper post-presentation lazy active background"
     style="background-image: url(&quot;https://images.unsplash.com/photo-1538667360417-86635364e683?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=411b9525298072836405d724ab448f8d&quot;);">
  <div class="gradient gradient1">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md col-lg col-xs-12">
          <h1 class="animated fadeInUp">Our Authors</h1>
          <p class="animated fadeInUp">Incredible people, incredible stories</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-latest-post></app-latest-post>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="author-widget post-presentation">
          <div class="author-cover lazy background"
               data-src="http://157.230.217.118:3001/content/images/2018/09/michal-parzuchowski-324218-unsplash-min.jpg"
               data-was-processed="true"
               style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/michal-parzuchowski-324218-unsplash-min.jpg&quot;);">
            <div class="gradient gradient1">
              <div class="share-icons icons-visible animated fadeIn">
                <div class="icon-container">
                  <div class="icons"></div>
                </div>
              </div>
              <div class="author-image background lazy"
                   style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg&quot;);"></div>
              <h2><a href="http://157.230.217.118:3001/author/diego/">Diego Balmaceda</a></h2>
            </div>
          </div>
          <div class="author-additional-info">
            <p><i class="fa fa-map-marker"></i> Managua, Nicaragua</p>
          </div>
          <div class="author-body">
            <p>System Engineering student. 19 years old. I love open source projects, coffee, Age of Empires... Did I
              say coffee already?</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="author-widget post-presentation">
          <div class="author-cover lazy background"
               style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/thanos-pal-570889-unsplash-min-2.jpg&quot;);">
            <div class="gradient gradient1">
              <div class="share-icons icons-visible animated fadeIn">
                <div class="icon-container">
                  <div class="icons">
                    <a href="https://ghost.org/"><i class="fa fa-globe"></i></a>
                    <a href="https://www.facebook.com/ghost"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/tryghost"><i class="fab fa-twitter"></i></a>
                  </div>
                </div>
              </div>
              <div class="author-image background lazy"
                   style="background-image: url(&quot;http://157.230.217.118:3001/content/images/2018/09/Jason-Davis-headshot-min.jpg&quot;);"></div>
              <h2><a href="http://157.230.217.118:3001/author/johndoe/">John Doe</a></h2>
            </div>
          </div>
          <div class="author-additional-info">
            <p><i class="fa fa-map-marker"></i> Iceland</p>
          </div>
          <div class="author-body">
            <p>Ghost is a fully open source, adaptable platform for building and running a modern online
              publication.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-frame"></div>
