<app-page-presentation [page]="pageAuthors"></app-page-presentation>
<app-latest-post></app-latest-post>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
      *ngFor="let author of authors$ | async">
        <div class="author-widget post-presentation">
          <div class="author-cover lazy background"
               [ngStyle]="{ 'background-image': 'url(' + author.backgroundImageURL + ')'}">
            <div class="gradient gradient1">
              <div class="share-icons icons-visible animated fadeIn">
                <div class="icon-container">
                  <div class="icons"></div>
                </div>
              </div>
              <div class="author-image background lazy"
                   [ngStyle]="{ 'background-image': 'url(' + author.photoURL + ')'}">
              </div>
              <h2><a href="http://157.230.217.118:3001/author/diego/">{{author.name}}</a></h2>
            </div>
          </div>
          <div class="author-additional-info">
            <p><i class="fa fa-map-marker"></i>{{author.city}}</p>
          </div>
          <div class="author-body">
            <p>{{author.additionalInfo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-frame"></div>
