<div class="book_search widget_book_search">
  <div class="widget_content">
    <h2 class="widget_title">{{title[0]}}<strong>{{title[1]}}</strong></h2>
    <form action="" method="get" role="search">
      <input type="text" placeholder="Find Products">
      <select id="category">
        <option value="0" selected="selected">All Categories</option>
        <option *ngFor="let category of categories; let i = index" [value]="i+1">{{category.name}}</option>
      </select>

      <select id="authors">
        <option value="0" selected="selected">All Authors</option>
        <option *ngFor="let author of authors; let i = index" [value]="i+1">{{author.name}}</option>
      </select>

      <input type="submit" class="button" value="Search">
    </form>
  </div>
</div>
