<section id="about" data-scroll-index="1" class="content-block about bordered">
  <div class="container">
    <h2 data-aos="zoom-in-up" i18n>Крупнейшая национальная конференция по педиатрии, перинатологии и неонатологии</h2>

    <p class="top-text" i18n>Мероприятие призвано объединить на одной информационно-коммуникационной площадке
      представителей органов государственной власти, образовательных, научных и медицинских организаций России, малого,
      среднего и крупного бизнеса, молодых ученых, ведущих российских и зарубежных экспертов в области медицины,
      фармацевтики и информационных технологий.</p>

    <div class="metrics">
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Конгресс</div>
        <div class="metrics-content">
          <div class="metrics-num">29-31<span i18n> Мая</span></div>
          <div class="metrics-info" i18n>Симпозиумы, клинические разборы и мастер-классы по педиатрии, неонатологии,
            детской хирургии, акушерству и гинекологии, анестезиологии-реаниматологии, экспериментальной хирургии,
            лучевой диагностике и другим специальностям
          </div>
        </div>
      </div>
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Спикеры</div>
        <div class="metrics-content">
          <div class="metrics-num">400+</div>
          <div class="metrics-info" i18n>Докладов академиков РАН, главных внештатных специалистов МЗ РФ, профессоров
            СПбГПМУ, СЗФМИЦ им. В.А. Алмазова, СЗГМУ им. И.И. Мечникова, ПСПбГМУ имени акад.И.П. Павлова, НИИАГ им. Д.О.
            Отта и многих других
          </div>
        </div>
      </div>
    </div>
    <div class="metrics">
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Участники</div>
        <div class="metrics-content">
          <div class="metrics-num">2000+</div>
          <div class="metrics-info" i18n>Потенциальных новых клиентов, партнеров и друзей</div>
        </div>
      </div>
      <div class="metrics-item col-md-6">
        <div class="metrics-name" i18n>Bonus</div>
        <div class="metrics-content">
          <div class="metrics-num"><span i18n>Баллы НМО</span></div>
          <div class="metrics-info" i18n>III Национальный конгресс с международным участием «Здоровые дети — будущее
            страны» подан на аккредитацию в системе непрерывного медицинского образования.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
