<app-page-title pageTitle="Wishlist"></app-page-title>

<div id="content">
  <div class="container">
    <div class="row">
      <section class="content_inner col-md-9">
        <div class="posts">
          <article class="row">
            <!-- WISHLIST TABLE -->
            <form action="" method="post" class="woocommerce">
              <table class="shop_table">
                <thead>
                <tr>
                  <th class="product-remove"></th>
                  <th class="product-thumbnail"></th>
                  <th class="product-name"><span class="nobr">Product Name</span></th>
                  <th class="product-price"><span class="nobr">Unit Price</span></th>
                  <th class="product-stock-status"><span class="nobr">Stock Status</span></th>
                  <th class="product-add-to-cart"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let book of books">
                  <td class="product-remove"><a class="remove" title="Remove this product">×</a></td>
                  <td class="product-thumbnail">
                    <img width="80" height="80"
                         src="{{book.imgSrc}}"
                         srcset="{{book.imgSrcset[0]}}"
                         sizes="(max-width: 80px) 100vw, 80px">
                  </td>
                  <td class="product-name">
                    <a routerLink="/books/product" [queryParams]="{id:book.id}">{{book.title}}</a>
                  </td>
                  <td class="product-price">
                    <del *ngIf="book.oldPrice">£ {{book.oldPrice}}</del>
                    <ins>£ {{book.price}}</ins>
                  </td>
                  <td class="product-stock-status">{{book.stockAmount}}</td>
                  <td class="product-add-to-cart"><a class="button">Add to Cart</a>
                  </td>
                </tr>
                </tbody>

                <!-- Не ясно, зачем может быть нужет tfoot, оставлю временно -->
                <!--                <tfoot>-->
                <!--                <tr>-->
                <!--                  <td colspan="6"></td>-->
                <!--                </tr>-->
                <!--                </tfoot>-->
              </table>
            </form>
          </article>
        </div>
      </section>

      <!-- Begin Sidebar -->
      <aside class="sidebar col-md-3">
        <app-search-form></app-search-form>
        <app-business-hours></app-business-hours>
        <app-customer-login></app-customer-login>
      </aside>
      <!-- End Sidebar -->
    </div>
  </div>
</div>
