<div class="hero-unit">
  <div id="featured-news-carousel" class="carousel slide" data-ride="carousel" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <div class="carousel-inner">
      <div class="carousel-item post-presentation lazy background active" data-src="https://images.unsplash.com/photo-1519125478587-9e2e97231d2c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f555c229fd7926ccd7b3c41a288a2f54" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1519125478587-9e2e97231d2c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=f555c229fd7926ccd7b3c41a288a2f54&quot;);">
        <div class="gradient gradient1 d-flex align-items-center">
          <div class="container d-flex align-items-center">
            <div class="row">
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <h1 class="animated fadeInUp">Thor, the Nordic God</h1>
                <div class="post-tags animated fadeIn">
                  <a href="http://157.230.217.118:3001/tag/history/">History</a>
                </div>
              </div>
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <p class="animated fadeInDown d-none d-md-block">Thor is a prominently mentioned god throughout the recorded history of the Germanic peoples, from the Roman occupation of regions of Germania, to the tribal expansions of the Migration Period...</p>
                <a href="http://157.230.217.118:3001/thor-the-thunder-god/" class="btn btn-no-background animated fadeIn">Read Post <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item post-presentation lazy background" data-src="https://images.unsplash.com/photo-1503662549813-28954e75f215?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=85b1b1454e149b001e2415a1d98da039" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1503662549813-28954e75f215?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=85b1b1454e149b001e2415a1d98da039&quot;);">
        <div class="gradient gradient1 d-flex align-items-center">
          <div class="container d-flex align-items-center">
            <div class="row">
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <h1 class="animated fadeInUp">Astronomers announce discovering ten tiny Jovian satellites</h1>
                <div class="post-tags animated fadeIn">
                  <a href="http://157.230.217.118:3001/tag/science/">Science</a>
                </div>
              </div>
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <p class="animated fadeInDown d-none d-md-block">On Tuesday, astronomers of the Carnegie Institution for Science in Washington, DC, United States, announced the discovery of ten small satellites orbiting Jupiter....</p>
                <a href="http://157.230.217.118:3001/astronomers-announce-discovering-ten-tiny-jovian-satellites/" class="btn btn-no-background animated fadeIn">Read Post <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item post-presentation lazy background" data-src="https://images.unsplash.com/photo-1536567901538-b873c1915f79?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=128e33d79dc67a5e718420a296f6ef84" data-was-processed="true" style="background-image: url(&quot;https://images.unsplash.com/photo-1536567901538-b873c1915f79?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ&amp;s=128e33d79dc67a5e718420a296f6ef84&quot;);">
        <div class="gradient gradient1 d-flex align-items-center">
          <div class="container d-flex align-items-center">
            <div class="row">
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <h1 class="animated fadeInUp">Everything you need to know about Valkyries</h1>
                <div class="post-tags animated fadeIn">
                  <a href="http://157.230.217.118:3001/tag/history/">History</a>
                </div>
              </div>
              <div class="col-sm-12 col-md col-lg col-xs-12">
                <p class="animated fadeInDown d-none d-md-block">The word valkyrie derives from Old Norse valkyrja (plural valkyrjur), which is composed of two words: the noun valr (referring to the slain on the battlefield) and the verb kjósa (meaning "to choose")....</p>
                <a href="http://157.230.217.118:3001/everything-you-need-to-know-about-valkyries/" class="btn btn-no-background animated fadeIn">Read Post <i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE CAROUSEL CONTROLS -->

    <a class="carousel-control-prev d-md-none" href="http://157.230.217.118:3001/#featured-news-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next d-md-none" href="http://157.230.217.118:3001/#featured-news-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <!-- CAROUSEL INDICATORS -->
    <div class="container indicator-container">
      <div class="row carousel-indicators">
        <div class="d-none d-md-flex align-items-center col-md-4 col-lg-4 indicator active" data-target="#featured-news-carousel" data-slide-to="0">
          <div class="indicator-index">
            <h1>1</h1>
          </div>
          <div class="indicator-content">
            <h4>Thor, the Nordic God</h4>
            <p>by <a href="http://157.230.217.118:3001/author/diego/">Diego Balmaceda</a></p>
          </div>
        </div>
        <div class="d-none d-md-flex align-items-center col-md-4 col-lg-4 indicator" data-target="#featured-news-carousel" data-slide-to="1">
          <div class="indicator-index">
            <h1>2</h1>
          </div>
          <div class="indicator-content">
            <h4>Astronomers announce discovering ten tiny Jovian satellites</h4>
            <p>by <a href="http://157.230.217.118:3001/author/diego/">Diego Balmaceda</a></p>
          </div>
        </div>
        <div class="d-none d-md-flex align-items-center col-md-4 col-lg-4 indicator" data-target="#featured-news-carousel" data-slide-to="2">
          <div class="indicator-index">
            <h1>3</h1>
          </div>
          <div class="indicator-content">
            <h4>Everything you need to know about Valkyries</h4>
            <p>by <a href="http://157.230.217.118:3001/author/diego/">Diego Balmaceda</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
