<nav class="navbar navbar-expand-lg navbar-main" id="navbar">
  <div class="container">
    <ul class="social-links">
      <!-- Facebook -->
      <li>
        <a href="https://www.facebook.com/news.gpmu" target="_blank" class="fa fa-facebook" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Мы в Facebook"></a>
      </li>

      <!-- VKontakte -->
      <li>
        <a href="https://vk.com/news.gpmu" target="_blank" class="fa fa-vk" data-toggle="tooltip" data-placement="top"
           i18n-title
           title="Мы в ВКонтакте"></a>
      </li>

      <!-- Instagram -->
      <li>
        <a href="https://www.instagram.com/spbgpmu/" target="_blank" class="fa fa-instagram" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Мы в Instagram"></a>
      </li>

      <!-- Youtube -->
      <li>
        <a href="https://www.youtube.com/channel/UCjPg7vzECT5JKlgYTk5NfXg" target="_blank" class="fa fa-youtube"
           data-toggle="tooltip" data-placement="top" i18n-title
           title="Наш канал в Youtube"></a>
      </li>

      <!-- Email -->
      <li>
        <a href="https://mail.yandex.ru/compose?mailto=press@gpma.ru" target="_blank" class="fa fa-envelope-o" data-toggle="tooltip"
           data-placement="top" i18n-title
           title="Напишите нам"></a>
      </li>
    </ul>

    <!-- Navbar toggler. Shown for mobile devices (https://getbootstrap.com/docs/4.0/components/navbar/#toggler) -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="bconfNav"
      aria-controls="bconfNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="bconfNav">
      <i class="fa fa-times close-navbar-mobile" aria-hidden="true" data-toggle="collapse" data-target="#bconfNav"></i>
      <ul class="navbar-nav ml-auto">
        <li><a [routerLink]="'.'" fragment="about" data-scroll-nav="1" class="nav-link" i18n>О конгрессе</a></li>
        <li><a [routerLink]="'.'" fragment="speakers" data-scroll-nav="2" class="nav-link" i18n>Спикеры</a></li>
        <li><a [routerLink]="'.'" fragment="schedule" data-scroll-nav="3" class="nav-link" i18n>Программа</a></li>
        <li><a [routerLink]="'.'" fragment="location" data-scroll-nav="4" class="nav-link" i18n>Место проведения</a></li>
        <li><a [routerLink]="'.'" fragment="sponsors" data-scroll-nav="5" class="nav-link" i18n>Cпонсоры</a></li>
        <li><a href="" target="_blank" class="nav-link" id="buyTicketsLink" i18n>Зарегистрироваться</a></li>
      </ul>
    </div>
  </div>
</nav>
